/* Header */
* {
    box-sizing: border-box;
}

body {
    background: rgb(219, 217, 217);
    background: url(../images/yucel-652370-unsplash.jpg) no-repeat center center fixed;
    background-repeat:  no-repeat;
    background-position:  center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#myjumbotron {
    margin: 0 auto;
    max-width: 50%;
    padding: 0 0 25px 0;
    text-align: center;
    background: transparent;
}
h1 {
    background-color: lightgray;
    padding-bottom: 10px;
}
section {
    min-height: calc(100vh - 70px);
    justify-content: space-evenly;
    text-align: center;
    width:100%;
}


.row {
    padding: 20px;
}
.battle-area {
    min-height: 400px;
}
.mybutton {
    padding: 8px 14px;
}
#darthMaul, #rey,#emperorPalp, #chewbacca {
    min-width: 140px;
    margin: 3px;
}
#attack {
    padding-top: 75px;
}
.myspan {
    padding-top: 10px;
}
.mycard {
    border: 2px solid red;
}
.myoffcard {
    border: 3px solid green;
}

.my-footer {
    text-align: center;
    clear: both;
    width: 100%;
    font-size: 12px;
    height: 60px;
    color: #fff;
    color: #ccc;
    line-height: 60px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

@media screen and (max-width: 576px) {
    #attack {
        padding: 20px;
    }
}